<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shop</display-name>
  <servlet>
    <servlet-name>loading</servlet-name>
    <servlet-class>com.shop.h_loading.loading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loading</servlet-name>
    <url-pattern>/loading</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>h_link</servlet-name>
    <servlet-class>com.shop.h_link.h_link</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>h_link</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rukulistdel</servlet-name>
    <servlet-class>com.shop.repertory.rukulistdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rukulistdel</servlet-name>
    <url-pattern>/rukulist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userloading</servlet-name>
    <servlet-class>com.shop.userloading.userloading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userloading</servlet-name>
    <url-pattern>/userloading</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editcustomer</servlet-name>
    <servlet-class>com.shop.usermanager.editcustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editcustomer</servlet-name>
    <url-pattern>/xiugaixinxi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManager</servlet-name>
    <servlet-class>com.shop.userloading.UserManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManager</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteall</servlet-name>
    <servlet-class>com.shop.repertory.rukulistdelall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteall</servlet-name>
    <url-pattern>/deleteall</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShangpinguanliServlet</servlet-name>
    <servlet-class>com.shop.shangpinguanli.ServletManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShangpinguanliServlet</servlet-name>
    <url-pattern>*.shangpin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterSystemUserPassword</servlet-name>
    <servlet-class>com.shop.systemadmin.AlterSystemUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterSystemUserPassword</servlet-name>
    <url-pattern>/alterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>h_AdminAddUser</servlet-name>
    <servlet-class>com.shop.systemadmin.AdminAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>h_AdminAddUser</servlet-name>
    <url-pattern>/AdminAddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllServlet</servlet-name>
    <servlet-class>com.shop.h_supplier.AllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllServlet</servlet-name>
    <url-pattern>*.supplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>typeDelete2</servlet-name>
    <servlet-class>com.shop.usermanager.Delet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeDelete2</servlet-name>
    <url-pattern>/typeDelete2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>typeUpd2</servlet-name>
    <servlet-class>com.shop.h_ordersh.Shenheupd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeUpd2</servlet-name>
    <url-pattern>/typeUpd2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>typeDelsh</servlet-name>
    <servlet-class>com.shop.h_ordersh.Shenhedel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeDelsh</servlet-name>
    <url-pattern>/typeDelsh</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>typeUpd</servlet-name>
    <servlet-class>com.shop.h_order.Dingdanupd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeUpd</servlet-name>
    <url-pattern>/typeUpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>typeDel</servlet-name>
    <servlet-class>com.shop.h_order.Dingdandel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeDel</servlet-name>
    <url-pattern>/typeDel</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>KucunServlet</servlet-name>
    <servlet-class>com.shop.kucun.ServletManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KucunServlet</servlet-name>
    <url-pattern>*.kucun</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>chongzhimoney</servlet-name>
    <servlet-class>com.shop.usermanager.money</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chongzhimoney</servlet-name>
    <url-pattern>/chongzhimoney</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.shop.encoding.Encoding</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>text/html;charset=utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>