<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shop</display-name>
  <servlet>
    <servlet-name>loading</servlet-name>
    <servlet-class>com.shop.h_loading.loading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loading</servlet-name>
    <url-pattern>/loading</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>h_link</servlet-name>
    <servlet-class>com.shop.h_link.h_link</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>h_link</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>typeDelete</servlet-name>
    <servlet-class>com.shop.shangpinguanli.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeDelete</servlet-name>
    <url-pattern>/typeDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>typeDelete1</servlet-name>
    <servlet-class>com.shop.h_supplier.Sudelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeDelete1</servlet-name>
    <url-pattern>/typeDelete1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>userloading</servlet-name>
    <servlet-class>com.shop.userloading.userloading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userloading</servlet-name>
    <url-pattern>/userloading</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManager</servlet-name>
    <servlet-class>com.shop.userloading.UserManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManager</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplierAdd</servlet-name>
    <servlet-class>com.shop.h_supplier.SupplierAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierAdd</servlet-name>
    <url-pattern>/h_supplieradd</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.shop.encoding.Encoding</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>text/html;charset=utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>jsp/admin.jsp</welcome-file>
  </welcome-file-list>
</web-app>